
body {
    background-color: rgb(156, 247, 247);
}

h1 {
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
    color: black;
    text-align: center;

}

ul {
    width: max-content;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    background-color: aqua;
    list-style-type: none;
    padding: 5px 50px;
    text-align: center;
    margin: auto;
}

a {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: gray;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

div {
    width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(116, 151, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

h2 {
    margin: 0;
    align-self: center;
}

p {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
}

div ul {
    background-color: transparent;
    list-style-type:decimal;
    text-align: left;
    font-size: 18px;
}

.back {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
}